solution/
test1.out 
hpc_gemm
test2.out 
hpc_gemm_v2
hpc_gemm_sol.c
hpc_gemm_sol
jacobi.c
*.out
backup
my_program.dSYM/
*.ptx 
bin/
*.txt
*_stats/
*.log
show_all.sh
show_stats.sh
mat_mult_solution.cu
helper_cuda.h