solution
test1.out 
hpc_gemm
test2.out 
hpc_gemm_v2
hpc_gemm_sol.c
hpc_gemm_sol
jacobi.c
*.out
*.txt
.Xilinx/
*.back
.vscode/
*.json
*.DS_Store
*_stats/
*.bin
*.pyc
*.o
moesi_two_level.py
04-GEM5-RCC/utils/
workload/lu_decomp/

__pycache__/
*.log